body {
  font-family: Helvetica;
  color: white;
  text-align: center;
  background-image: url("../images/the-flatiron-building.png");
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 70px;
  margin: 0 auto 50px;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 23px;
  margin: 0;
}

h4 {
  font-size: 23px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#header ul li {
  margin-top: 15px;
}

#footer {
  overflow: auto; /* clearfix to apply height to div, because of the float left CSS rule in #footer ul li */
  background-color: dimgray;
}

#footer ul li {
  float: left; /* float leaves #footer div with height = 0; therefore the clearfix "overflow: auto;" above */
  padding: 0 2px;
}

a:link {
  color: white;
  font-size: 18px;
}

.supportingSection {
  color: black;
  background-color: white;
  padding: 16px;
}

.supportingSection p {
  font-size: 14px;
}

span.copyright {
  float: left;
  font-size: 11px;
}
