body {
  font-family: Helvetica;
  text-align: center;
  background-image: url("../images/the-flatiron-building.png");
}

#header {
  color: white;
}

#header ul {
  list-style: none;
}

#header ul li{
  margin: 10px auto;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
  color: white;
}

h4 {
  font-size: 23px;
}

a:link {
  color: white;
  font-size: 18px;
}

.supportingSection {
  background-color: white;
  padding: 20px;
}

.supportingSection p {
  font-size: 14px;
}
